<div class="container reveal responsive-height" id="funProjects">
    <div class="page-title">
        {{pageTitle}}
    </div>
    <div class="product-table" id="projectTable">
        <div *ngFor="let product of products.getFunProductsList(); let index= index">
            <div *ngIf="index < productViewLimit then showProduct">
            </div>
            <ng-template #showProduct>
                <div class="project">
                    <div id="project-title-container">
                        <div class="project-title">
                            {{product.getProductName()}}
                        </div>
                        <div id="project-link">
                            <img src="link-icon.png" id="projectImage" alt="Product link"
                                (mouseenter)="animationUtility.changeColor($event)"
                                (mouseleave)="animationUtility.revertColor($event)" />
                        </div>
                    </div>

                    <div class="projectDescription scrollbar">
                        {{product.getProductDescription()}}
                    </div>
                    <div class="projectStack">
                        <button class="more-projects-button KnowMoreButton"
                            (click)="componentUtility.learnMoreAboutProject(product, document)">Learn More</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div class=" load-button">
    <button class="more-projects-button load-more-button" id="moreProjectsBtn" (click)="loadMoreProducts()"
        type="submit">{{buttonLabel}}</button>
</div>