<div class="sub-container reveal" id="About-Me-Page">
    <div class="page-title">
        <div class="navnumber" id="subHeadingSerial">01.</div>{{this.getPageTitle()}}
    </div>
    <div class="content" id="aboutMeContentContainer">
        A professional Software Engineer who is passionate about creating innovative end-to-end digital
        products which become live on the internet and run in these modern days efficiently. I am the one
        who likes to play roles in each aspect of technology by which I can realize my dream independently
        and build innovative products.
        <br><br>
        I have completed Bachelors of Computer Application(BCA) from <div class="underline" id="ignou"
            (click)="visitIgnouUniversity()">
            Indira Gandhi National Open University</div>. Also completed an advance
        diploma in computer application from <div class="underline" id="nielit" (click)="visitNielitUnivserity()">
            National Institute of
            Electronics and Information Technology(NIELIT)</div>. Currently, pursuing Master of Computer Application
        from
        IGNOU.
        <br><br>
        I have also completed some certifications. Please visit to my <div class="underline"
            (click)="showCertificates()">
            certifications</div> for more information.
        An enthusiastic Software Engineer who is always eager to learn new things and build new things.
        Please take a look at my recent <div class="underline" id="projects" (click)="visitToProductsSection()">products
        </div> to find to a
        reason to work with me.
        <br><br>
        If having any exciting opportunity but haven't found the right person? Ping me by <a class="underline"
            id="aboutMeContentMail" href="mailto:nischaysahdevoo8@gmail.com">clicking</a>
        here. I will be happy to respond.
    </div>
</div>
<app-certifications id="app-certifications"></app-certifications>