<div id="navbar-section" class="fade-in">
    <div id="logo-section" (click)="visitHome()">
        N
    </div>
    <div id="navlinks">
        <div id="navlink-responsive-logo">
            <img src="menu-icon.png" (mouseover)="animationUtility.changeColor($event)"
                (mouseleave)="animationUtility.revertColor($event)" (click)="showHideNavbar()" alt="logo" id="menuLogo">
        </div>
        <ul [ngClass]="responsiveNavbarFlag ? 'show-navlink-section-responsive':'hide-navlink-section-responsive'">
            @for (navlink of navlinks; track navlinks) {
            <li class="navlink" id="{{navlink}}-navlink" (click)="reachTo($event)">
                <div class="navnumber">0{{(navlinks.indexOf(navlink))+1}}. </div>{{navlink}}
            </li>
            }
            <li class=" navlink" id="resume-navlink">
                <app-resume></app-resume>
            </li>
            <div class="social-navlinks-responsive">
                @for (imagesPath of socialLinksImagesPath; track socialLinksImagesPath) {
                <li class="navlink" (click)="reachTo($event)">
                    <img src="{{imagesPath}}" alt="">
                </li>
                }
            </div>
        </ul>
    </div>
</div>