@media screen and (max-width: 430px) {
    #certificatesContainer {
        width: 100%;
        align-self: center;
        margin-top: -1700px;
    }

    #certificate-image {
        width: 250px;
        height: auto;
    }
}