<div id="certificatesContainer">
        <div id="left-navigation-button" class="navigation-button"><img src="Left-arrow-icon.png"
                        alt="Left navigation button" (click)="showPreviousCertificate()"
                        (mouseenter)="animationUtility.changeColor($event)"
                        (mouseleave)="animationUtility.revertColor($event)">
        </div>
        <div>
                <img src="{{getCertificationPath()}}" alt="{{getCertificationName()}}" id="certificate-image"
                        (click)="visitToCertificate()">
        </div>
        <div id="right-navigation-button" class="navigation-button"> <img src="Right-arrow-icon.png"
                        alt="Right navigation button" (click)="showNextCertificate()"
                        (mouseenter)="animationUtility.changeColor($event)"
                        (mouseleave)="animationUtility.revertColor($event)">
        </div>
        <div></div>
        <div id="closeButtonContainer" (click)="closeCertificateContainer()">
                Close
        </div>
</div>