@media screen and (max-width: 450px) {
    #learnMoreAboutProjectContianer {
        width: 100%;
        margin-left: 2%;
        margin-top: 10%;
        align-items: center;
    }

    #product-image {
        width: 300px;
    }
}