#container {
    display: grid;
    row-gap: 420px;
    justify-items: center;
    width: 100vw;
}


#dialog {
    padding: 1rem 3rem;
    background: #0a192f;
    max-width: 200px;
    padding-top: 2rem;
    border-radius: 20px;
    border: 0;
    margin-left: 40vw;
    margin-top: 35vh;
    box-shadow: 0px 5px 50px 10px rgb(0, 0, 0);
    animation: fadeIn 1s ease both;

    &::backdrop {
        animation: fadeIn 1s ease both;
        background: rgba(11, 17, 48, 0.4);
        z-index: 2;
        backdrop-filter: blur(5px);
    }

    .x {
        filter: grayscale(100);
        border: none;
        background: none;
        position: absolute;
        top: 15px;
        right: 10px;
        transition: ease filter, transform 0.3s;
        cursor: pointer;
        transform-origin: center;

        &:hover {
            filter: grayscale(-1);
            transform: scale(1.1);
        }
    }

    h3 {
        font-weight: 600;
        font-size: 1.5rem;
        padding-bottom: .5rem;
        color: #65e8c7;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.3rem;
        padding: 0.5rem 0;
        color: white;

        a {
            &:visited {
                color: rgb(var(--vs-primary));
            }
        }
    }
}