<div class="container" id="Work-Experience-Page">
    <div class="page-title">
        <div class="navnumber" id="subHeadingSerial">02. </div>{{pageTitle}}
    </div>
    <div id="organization-list" class="scrollbar min-scrollbar">
        @for (organizationName of getOrganizationsNames(); track organizationName) {
        <div class="oragnization-name" [ngClass]="willModify(organizationName) ? 'modifyClass': ''"
            (click)="fillOrganizationDetails(organizationName)">
            {{organizationName}}
        </div>
        }
    </div>

    <div id="organization-title-container" (click)="reachTo()">
        <div id="organization-desgination" (click)="reachTo()">
            {{getDesignation()}}
        </div>
        <div id="organization-title">
            &nbsp; &commat;{{getOrganizationName()}}
        </div>
        <div id="organization-duration">
            [ {{getOrganizationDuration()}} ]
        </div>
    </div>
    <div class="jobDescription" id="jobDescription">
        <div class="content" id="jobDescriptionPoints">
            <ul>
                @for (responsibility of getJobResponsibilities(); track responsibility; let index = $index) {
                <li>
                    <div class="navnumber">0{{index+1}}. </div>
                    {{getJobResponsibilities()[index]}}
                </li>
                <br>
                }
            </ul>
        </div>
        <div class="oragnization-image" id="oragnization-image">
            <a href={{getOrganizationWebUrl()}} target="_blank">
                <img id="organizationImage" src="{{getOrganizationImageUrl()}}" alt={{getOrganizationName()}}></a>
        </div>
    </div>
    <div class="navigation-buttons">
        <div id="left-navigation-button"><img class="navigation-button" src="Left-arrow-icon.png"
                alt="Left navigation button" (click)="showPreviousWorkExperience()"
                (mouseenter)="animationUtility.changeColor($event)" (mouseleave)="animationUtility.revertColor($event)">
        </div>
        <div id="right-navigation-button"><img class="navigation-button" src="Right-arrow-icon.png"
                alt="Right navigation button" (click)="showNextWorkExperience()"
                (mouseenter)="animationUtility.changeColor($event)" (mouseleave)="animationUtility.revertColor($event)">
        </div>
    </div>
</div>