<div class="container reveal" id="Digital-Products-Page">
    <div class="page-title">
        <div class="navnumber" id="subHeadingSerial">03.</div> {{title}}
    </div>
    <div class="products-table" id="projectTable">
        <div *ngFor="let product of products.getProductsList(); let index= index">
            <div *ngIf="index < productViewLimit then showProduct">
            </div>
            <ng-template #showProduct>
                <div class="product">
                    <div><img src={{product.getProductCoverImageUrl()}} alt={{product.getProductName()}}
                            class="product-cover-image">
                    </div>
                    <div class="productDescription product-align-right">
                        <div class="product-title">
                            <div class="title">
                                {{product.getProductName()}}
                            </div>
                            <div class="link-image">
                                <img src="link-icon.png" alt="Product link"
                                    (mouseenter)="animationUtility.changeColor($event)"
                                    (mouseleave)="animationUtility.revertColor($event)"
                                    (click)="visitToProject(product.getProductUrl())"
                                    class="product-reference-image underline">
                            </div>
                        </div>

                        <div class="product-description scrollbar">
                            {{product.getProductDescription()}}
                        </div>
                        <div class="time-period">
                            <button class="more-projects-button KnowMoreButton "
                                (click)="utility.learnMoreAboutProject(product, document)">Learn
                                More</button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div class="load-button">
    <button class="more-projects-button load-more-button" (click)="loadMoreProducts()" type="submit">{{label}}</button>
</div>