#websiteUrlSection {
    display: grid;
    height: 100vh;
    align-content: center;
    justify-content: center;
    letter-spacing: 1.5px;
    /* font-size: 0.8vw; */
    font-size: 12px;
    width: 120px;
    /* margin-right: 20px; */
    justify-self: right;
    font-family: 'Open Sans', sans-serif;
    writing-mode: vertical-lr;
    color: white;
}

#websiteUrlSection:hover {
    cursor: pointer;
    color: var(--hightColor_blueGreen);
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}