<div class="contact-section" id="Contact-Me-Page">
    <div class="page-title">
        <div class="navnumber" id="subHeadingSerial">04.</div> What's Next?
    </div>
    <div id="get-in-touch-container">
        <div id="subHeading">
            Get In Touch
        </div>
        <div id="description">
            Whether you have any exciting opportunity, <br> any realistic digital idea or you want to say just a
            casual<br>My inbox is always open to respond.
        </div>
        <div id="button">
            <button class="button" type="submit" onclick="messageTo()">Want to say Hello?</button>
        </div>
    </div>
</div>
<footer>
    Designed & Built by Nischay Sehdev
</footer>