.contact-section {
    display: grid;
    height: auto;
    grid-template-rows: auto auto;
    align-content: center;
    width: 600px;
    -webkit-animation: fade-in-top 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#subHeading {
    font-size: 36px;
    color: #CCD6F6;
    text-align: center;
}

#description {
    margin-top: 1vw;
    font-family: 'Open Sans', sans-serif;
    color: #8892B0;
    font-size: 20px;
    text-align: center;
}

#button {
    text-align: center;
    margin-top: 2vh;
}

.button {
    width: 240px;
    height: 50px;
    min-height: 40px;
    font-size: 16px;
}

footer {
    display: grid;
    justify-self: center;
    margin-top: 10vw;
    margin-bottom: 1vh;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #65e8c7;
}

.page-title {
    font-size: var(--pageTitleFontSize);
}