@media screen and (max-width: 1082px) {
    .page-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 450px) {
    .contact-section {
        width: 340px;
        /* height: 50vh; */
    }

    #subHeading {
        font-size: 24px;
    }

    #description {
        font-size: 14px;
    }

    .button {
        font-size: 3vw;
        width: 40vw;
        height: 10vw;
        border-radius: 1vw;
    }

    footer {
        font-size: 3vw;
    }
}