     #navbar-section {
         position: fixed;
         z-index: 11;
         padding-bottom: 15px;
         display: grid;
         grid-template-columns: auto auto;
         justify-content: space-between;
         transition: all 100ms;
         width: 100%;
     }

     #navlink-responsive-logo {
         display: none;
     }

     #logo-section {
         margin-left: 20px;
         width: 40px;
         color: var(--hightColor_blueGreen);
         font-size: 58px;
         transition: all 2400ms cubic-bezier(0.19, 1, 0.22, 1);
         text-shadow: 10px 10px 10px 10px var(--hightColor_blueGreen);
     }

     #logo-section:hover {
         cursor: pointer;
         color: var(--hightColor_blueGreen);
     }

     .navlink {
         padding-right: 2vw;
         cursor: pointer;
         font-size: 14px;
         color: #d1d4d6;
         display: inline-block;
         font-family: 'Open Sans', sans-serif;
     }

     #navlinks {
         padding-top: 20px;
     }

     .navlink:hover {
         color: var(--hightColor_blueGreen);
         cursor: pointer;
         -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
         animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     }

     .social-navlinks-responsive {
         display: none;
     }

     .navnumber {
         text-decoration: none;
         display: inline;
         color: var(--hightColor_blueGreen);
         font-size: 10px;
     }