@media screen and (max-width: 1082px) {

    .navlink {
        margin-top: 24px;
        display: list-item;
        font-size: 18px;
    }

    li {
        list-style: none;
    }

    .show-navlink-section-responsive {
        display: grid;
        height: 100vh;
        justify-items: center;
        width: fit-content;
        background-color: var(--backgroundColor_blueGreen);
    }

    .hide-navlink-section-responsive {
        display: none;
    }

    #logo-section {
        font-size: 72px;
    }

    #navlinks {
        display: grid;
        height: 100%;
        padding-top: 0%;
    }

    .navlinks-responsive {
        background-color: var(--backgroundColor_blueGreen);
        height: 72px;
        justify-content: center;
    }

    #lineFirst {
        color: white;
    }

    #menuLogo {
        padding-top: 10px;
        width: 72px;
        margin-right: 20px;
    }

    #navlink-responsive-logo {
        display: grid;
        justify-content: center;
        height: min-content;
    }

    #navlink-responsive-logo:hover {
        cursor: pointer;
    }

    .navnumber {
        display: none;
    }

    .social-navlinks-responsive {
        display: inline;
    }
}

@media screen and (max-width: 450px) {
    .navlink {
        margin-top: 24px;
        display: list-item;
        font-size: 18px;
    }

    li {
        list-style: none;
    }

    .show-navlink-section-responsive {
        display: grid;
        height: 100vh;
        justify-items: center;
        width: fit-content;
        background-color: var(--backgroundColor_blueGreen);
    }

    .hide-navlink-section-responsive {
        display: none;
    }

    #logo-section {
        font-size: 48px;
    }

    #navlinks {
        display: grid;
        height: 100%;
        padding-top: 0%;
    }

    .navlinks-responsive {
        background-color: var(--backgroundColor_blueGreen);
        height: 72px;
        justify-content: center;
    }

    #lineFirst {
        color: white;
    }

    #menuLogo {
        padding-top: 10px;
        width: 50px;
        margin-right: 20px;
    }

    #navlink-responsive-logo {
        display: grid;
        justify-content: center;
        height: min-content;
    }

    #navlink-responsive-logo:hover {
        cursor: pointer;
    }

    .navnumber {
        display: none;
    }

    .social-navlinks-responsive {
        display: inline;
    }


}