#websiteUrlSection {
    position: fixed;
    display: grid;
    grid-template-columns: auto auto;
    z-index: 50;
    display: grid;
    height: 100vh;
    align-content: end;
    justify-content: right;
    margin-left: 95%;
    letter-spacing: 1.5px;
    font-size: 12px;
    justify-self: right;
    font-family: 'Open Sans', sans-serif;
    writing-mode: vertical-lr;
    color: white;
}

#websiteUrlSection:hover {
    cursor: pointer;
    color: var(--hightColor_blueGreen);
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#verticalLine {
    width: 2px;
    margin-top: 6px;
    margin-left: 5px;
    height: 48px;
    background-color: white;
}